@font-face {
  font-family: Black;
  src: url("./Roboto-Black_0.ttf");
}
@font-face {
  font-family: BlackItalic;
  src: url("./Roboto-BlackItalic_0.ttf");
}
@font-face {
  font-family: Bold;
  src: url("./Roboto-Bold_0.ttf");
}
@font-face {
  font-family: BoldItalic;
  src: url("./Roboto-BoldItalic_0.ttf");
}
@font-face {
  font-family: Italic;
  src: url("./Roboto-Italic_0.ttf");
}
@font-face {
  font-family: Light;
  src: url("./Roboto-Light_0.ttf");
}
@font-face {
  font-family:LightItalic;
  src: url("./Roboto-LightItalic_0.ttf");
}
@font-face {
  font-family:Medium;
  src: url("./Roboto-Medium_0.ttf");
}
@font-face {
  font-family:"MediumItalic";
  src: url("./Roboto-MediumItalic_0.ttf");
}
@font-face {
  font-family:Semibold;
  src: url("./Roboto-Regular_0.ttf");
}
@font-face {
  font-family:Thin;
  src: url("./Roboto-Thin_0.ttf");
}
@font-face {
  font-family:ThinItalic;
  src: url("./Roboto-ThinItalic_0.ttf");
}
@font-face {
  font-family:Roboto;
    src: url("./Roboto-Medium_0.ttf");
}