@import "flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 优化 loader 动画 */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  will-change: transform; /* 提示浏览器优化动画 */
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/* 红色渐变背景样式优化 */
.gradient-red {
  height: 88px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(180deg, #ff0000 0%, rgba(236, 121, 121, 0) 100%);
  background-size: 200% 100%;
  animation: blink 1s infinite;
  will-change: opacity; /* 提示浏览器优化透明度动画 */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* 按钮样式优化 */
button {
  outline: none;
  box-shadow: none;
  transition: background-color 0.3s ease; /* 添加平滑过渡效果 */
}

/* 全局样式优化 */
html, body {
  margin: 0;
  padding: 0;
  font-family: '29lt-Azer', sans-serif; /* 默认字体 */
}
